@charset "UTF-8";


// Variables
// =============================================================================

$breadcrumb-divider: quote(">");


// Bootstrap overrides (overrides must come before you import Bootstrap’s Sass files)
// =============================================================================

// Colors
// $white: #fff;
// $dark: #3C3744;
// $light: #F2F8FC;
// $primary:#0F75BC;
// $accent: #4DCCBD;

// Colors
$white: #fff;
$dark: #2A2C57;
$light: #ECF6FD;
$primary:#0F75BC;
$accent: #06C9B2;

$theme-colors: (
    "white": $white,
    "dark": $dark,
    "light": $light,
    "primary": $primary,
    "accent": $accent
);

// Toggle Bootstrap's global CSS preferences
$enable-shadows: true;
$enable-responsive-font-sizes: false;

// Buttons
$btn-padding-y: 0.75rem;
$btn-padding-x: 1.25rem;             
$btn-line-height: 1;
$btn-border-radius: 40px;

// Typography
$font-family-base: 'Poppins', sans-serif;
$line-height-base: 1.6;
$font-weight-base: 300;
$link-color: $accent;

// Grid
$grid-gutter-width: 2rem;


// RFS overrides
// =============================================================================

$rfs-base-value: 0.875rem;
$rfs-rem-value: 16;
$rfs-factor: 50; // Factor of decrease


// Import RFS and Bootstrap
// =============================================================================

@import "../vendor/bootstrap/scss/bootstrap";
@import "../node_modules/rfs/scss";


// Global
// =============================================================================

body {
    background-color: #fff;
    color: $dark;
    overflow-x: hidden;
    @include font-size(1.25rem);
    &.fancybox-active {
        overflow: hidden;
    }
}

p {
    margin-bottom: 1rem;
}

a {
    font-weight: 400;
    color: $accent;
    &:hover {
        color: $accent;
    }
}

h1 {
    font-weight: 700;
    line-height: 1.1428;
    @include font-size(4.25rem);
}

h2 {
    font-weight: 500;
    line-height: 1.1538;
    @include font-size(3.25rem);
}

h3 {
    font-weight: 500;
    line-height: 1.125;
    @include font-size(2rem);
}

h4 {
    font-weight: 500;
    line-height: 1.2;
    @include font-size(1.25rem);
}

.btn {
    text-transform: uppercase;
    box-shadow: none !important;
    @include font-size(1.25rem);
}

.ratio-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    &_16-by-9 {
        padding-top: 56.25%;
    }
}

.main {
    margin-top: 80px;
    @media (max-width: 575.98px) {
        margin-top: 72px;
    }
}

.section {
    @include rfs(7.5rem 0, padding);
    &__preheading {
        @include font-size(1.25rem);
        font-weight: 300;
        color: $primary;
        position: relative;
        display: inline-block;
        left: 24px;
        &::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 1px;
            background-color: $primary;
            position: absolute;
            top: 50%;
            left: -24px;
        }
    }
    &__heading {
        @include rfs(3.5rem, margin-bottom);
        &_mb-small {
            @include rfs(2rem, margin-bottom);
        }
    }
    &_large-gap {
        @include rfs(8.75rem 0, padding);
    }
}

// Highlight color
::selection {
    background-color: $primary;
    color: #fff;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.breadcrumb-item {
    @include font-size(1rem);
    &.active {
        color: rgba($dark, 0.54);
    }
    &+ .breadcrumb-item {
        padding-left: 0.25rem;
    }
    &+.breadcrumb-item::before {
        color: rgba($dark, 0.54);
        padding-right: 0.25rem;
    }
}

.cover {
    &__title {
        @include rfs(0.75rem, margin-bottom);
    }
    &__subtitle {
        font-weight: 300;
    }
    &__divider {
        @include rfs(1.75rem, margin-top);
        @include rfs(1.75rem, margin-bottom);
    }
}

.badge {
    font-size: 100%;
    font-weight: 400;
}


// SPINNER
// =============================================================================

.spinner-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $primary;
    background: linear-gradient(-45deg, $dark 0%, $primary 50%);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    z-index: 1004;
}

.spinner {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    &__ball {
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
    &__text {
        color: #fff;
        margin-top: 4px;
        font-family: sans-serif;
        letter-spacing: 3px;
        font-size: 10px;
    }
}


// TO TOP
// =============================================================================

.to-top {
    z-index: 1001;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 48px;
    height: 48px;
    color: black;
    &:hover {
        color: black;
    }
}


// Header
// =============================================================================

.page-header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1003;
    width: 100%;
    background-color: $primary;
    &_shadow {
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    }
    .navbar-toggler {
        border-radius: 4px;
    }
    .navbar-brand {
        line-height: 1;
        img {
            height: 32px;
            @media (max-width: 575.98px) {
                height: 24px;
            }
        }
    }
    .nav-link, .nav-phone {
        @include font-size(1rem);
    }
}




// Headroom
// =============================================================================

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}


// Hero
// =============================================================================

.hero {
    overflow-x: hidden;
    z-index: 1002;
    position: relative;
    &-bg-wrapper {
        max-width: 54%;
        position: relative;
        z-index: 1;
        .ratio-box {
            border-radius: 0 4px 4px 0;
        }
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba($dark, 0.3);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            border-radius: 0 4px 4px 0;
        }
        @media (max-width: 1199.98px) {
            max-width: 100vw;
            .ratio-box {
                border-radius: 0;
            }
            &::after {
                border-radius: 0; 
            }
        }
        @media (max-width: 575.98px) {
            &::after {
                display: none;
            }
        }
    }
    &-text-wrapper {
        // background: linear-gradient(270deg, #0F75BC 0%, #083B5E 50%);
        background-color: $primary;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        padding: 4.2vw 0;
        &__title {
            font-size: 4.375vw;
            max-width: 41.666vw;
            position: relative;
            z-index: 2;
            margin-bottom: 0.625vw;
            margin-left: auto;
            @media (max-width: 1199.98px) {
                max-width: 800px;
                margin-right: auto;
                @include font-size(5.25rem);
                margin-bottom: 0.75rem;
            }
        }
        &__lead {
            font-size: 1.666vw;
            max-width: 41.666vw;
            position: relative;
            z-index: 2;
            margin-bottom: 2.292vw;
            margin-left: auto;
            @media (max-width: 1199.98px) {
                max-width: 800px;
                margin-right: auto;
                @include font-size(2rem);
                @include rfs(2.75rem, margin-bottom);
            }
        }
        &__buttons {
            position: relative;
            z-index: 2;
            @media (max-width: 575.98px) {
                a {
                    display: block;
                    width: 100%;
                    &:first-child {
                        margin-bottom: 0.75rem;
                    }
                }
            }
        }
        @media (max-width: 1199.98px) {
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            background: transparent;
        }
        @media (max-width: 575.98px) {
            position: static;
            // @include rfs(20rem 0, padding);
            transform: translateY(0);
            min-height: calc(100vh - 56.25vw - 72px);
            display: flex;
            align-items: center;
        }
    }
}

.hero-carousel {
    .owl-stage-outer {
        @media (max-width: 575.98px) {
            // background: linear-gradient(270deg, #0F75BC 0%, #083B5E 50%);
            background-color: $primary;
            .owl-stage {
                .item {
                    min-height: calc(100vh - 72px);
                }
            }
        }
    }
    .owl-nav {
        margin: 0;
        position: absolute;
        top: 28vw;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: 100%;
        justify-content: space-between;
        .owl-prev {
            text-align: center;
            background: transparent !important;
            border-radius: 50%;
            color: rgba(white, 0.54);
            width: 48px;
            height: 48px;
            font-size: 20px;
            line-height: 48px;
            padding: 0;
            &:hover {
                color: rgba(white, 1);
            }
        }
        .owl-next {
            text-align: center;
            background: transparent !important;
            border-radius: 50%;
            color: rgba(white, 0.54);
            width: 48px;
            height: 48px;
            font-size: 20px;
            line-height: 48px;
            padding: 0;
            &:hover {
                color: rgba(white, 1);
            }
        }
    }
    .owl-dots {
        line-height: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 20px;
        top: calc(50% - 2.9166vw);
        transform: translateY(-50%);
        margin-top: 0 !important;
        .owl-dot {
            transition: background-color .15s ease-in-out;
            span {
                display: inline-block;
                border-radius: 50%;
                margin: 4px;
                width: 16px;
                height: 16px;
                background: transparent;
                border: 1px solid $accent;
            }
            &.active, &:hover {
                span {
                    background-color: $accent;
                }
            }
        }
        @media (max-width: 1199.98px) {
            top: 50%;
        }
        @media (max-width: 575.98px) {
            display: block;
            position: static;
            transform: none;
            margin-top: 1rem;
        }
    }
}


// Services
// =============================================================================

.services {
    @include rfs(4.75rem, padding-bottom);
    @media (max-width: 991.98px) {
        &__header {
            text-align: center;
        }
        &__preheading {
            left: 0;
        }
    }
}

.service-item {
    @include rfs(2.75rem, margin-bottom);
    &_odd {
        margin-right: 1rem;
        @media (max-width: 991.98px) {
            margin-right: 0;
        }
        .service-item__figure {
            left: 1rem;
        }
    }
    &_even {
        margin-left: 1rem;
        @media (max-width: 991.98px) {
            margin-left: 0;
        }
        .service-item__figure {
            left: 2rem;
        }
    }
    &__figure {
        transition: border-color .15s ease-in-out;
        border: 1px solid transparent;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 0;
        @media (max-width: 991.98px) {
            position: static;
            margin-bottom: 1rem;
        }
    }
    &__body {
        padding-left: 132px;
        @media (max-width: 991.98px) {
            padding: 0;
        }
    }
    &__heading {
        margin-bottom: 0.75rem;
    }
    &__text {
        margin-bottom: 0;
        @media (max-width: 991.98px) {
            display: none;
        }
    }
    figure {
        border-color: rgba($primary, 0.54);
    }
    @media (max-width: 991.98px) {
        text-align: center;
    }
}


// CTA
// =============================================================================

.cta {
    background-color: $accent;
    text-align: center;
    &__heading {
        @include rfs(2.75rem, margin-bottom);
    }
    @media (max-width: 575.98px) {
        &__btn {
            margin-bottom: 1rem;
            display: block;
            width: 100%;
        }
    }
}


// Shop
// =============================================================================

.shop-intro {
    h3 {
        @include rfs(2rem, margin-bottom);
    }
    &__bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100%;
        border-radius: 4px;
        transition-duration: .3s;
        transition-property: transform;
        transition-timing-function: ease-out;
        &:hover {
            transform: translateY(8px);
        }
        @media (max-width: 991.98px) {
            width: 100%;
            height: 300px;
        }
    }
}

.shop-map {
    @include rfs(3.5rem 0 3.5rem 0, margin);
    ul li a {
        color: $dark;
        font-weight: 300;
    }
    h3 {
        @include rfs(2rem, margin-bottom);
    }
    iframe {
        border-radius: 4px;
        width: 100%;
        height: 100%;
        display: block;
        @media (max-width: 991.98px) {
            height: 300px;
        }
    }
}

.shop-slideshow {
    h3 {
        @include rfs(2rem, margin-bottom);
    }
    img {
        filter: grayscale(100%);
        opacity: 0.5;
        transition: filter .15s ease-in-out, opacity .15s ease-in-out;
        &:hover {
            filter: grayscale(0);
            opacity: 1;;
        }
    }
}


// Works
// =============================================================================

.grid {
    &__controls {
        margin-bottom: 0.75rem;
        button {
            line-height: 1;
            color: $dark;
            @include rfs(0.5rem 1rem, padding);
            &:hover {
                color: $dark;
            }
            &.active {
                color: $accent;
            }
        }
    }
    &__list {
        [class^='col-'] {
            margin-bottom: 1rem;
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
        img {
            border-radius: 4px;
        }
    }
}


// About
// =============================================================================

.about {
    overflow-x: hidden;
    @include rfs(18.75rem, padding-bottom);
}

.facts {
    @include rfs(4rem, padding-top);
    @media (max-width: 767.98px) {
        [class^='col-']:not(:last-child) {
            @include rfs(4rem, margin-bottom);
        }
    }
}

.fact {
    text-align: center;
    &__number {
        @include font-size(8.5rem);
        font-weight: 100;
        line-height: 1;
        color: rgba($primary, 0.5);
    }
    &__text {
        @include font-size(2rem);
        line-height: 1;
    }
}


// Testimonials
// =============================================================================

.testimonials {
    overflow-x: hidden;
    @include rfs(-10rem, margin-top);
}

.testimonial {
    background-color: #fff;
    border-radius: 4px;
    padding: 100px 64px;
    text-align: center;
    background-image: url(../images/quote.svg);
    background-position: top left;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__text {
        font-style: italic;
        margin-bottom: 1rem;
    }
    &__author {
        opacity: 54%;
        font-size: 16px;
    }
    @media (max-width: 575.98px) {
        padding: 100px 16px;
    }
}

.testimonials-carousel {
    position: relative;
    padding-bottom: calc(2rem + 24px);
    .owl-stage-outer {
        overflow: visible;
        .owl-stage {
            display: flex;
            .owl-item {
                opacity: 0;
                transition: opacity .15s ease-in-out;
                &.active {
                    opacity: 1;
                }
                .item {
                    height: 100%;
                }
            }
        }
    }
    .owl-dots {
        line-height: 0;
        margin-top: 2rem !important;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        .owl-dot {
            transition: background-color .15s ease-in-out;
            span {
                margin: 4px;
                width: 16px;
                height: 16px;
                background: transparent;
                border: 1px solid $accent;
            }
            &.active, &:hover {
                span {
                    background: $accent;
                }
            }
        }
    }
}


// FAQs
// =============================================================================

.faqs {
    @include rfs(7.5rem, margin-top);
}

.faq {
    &__icon {
        color: $accent;
        line-height: 1.6;
    }
    &__btn {
        position: relative;
        text-transform: none;
        @include font-size(1.25rem);
        line-height: 1.6;
        color: $dark;
        &:hover {
            color: $dark;
        }
        &:focus, &:active {
            box-shadow: none !important;
        }
    }
    &__ans {
        max-width: 800px;
    }
}


// BLOG
// =============================================================================

// Homepage blog carousel
.blog-carousel {
    .owl-stage-outer {
        overflow: visible;
        .owl-stage {
            padding-left: 0 !important;
            .owl-item {
                opacity: 1;
                transition: opacity .15s ease-in-out;
                &.active {
                    opacity: 1;
                }
            }
        }
    }
    .owl-nav {
        margin-top: 2rem;
        text-align: left;
        .owl-prev {
            padding: 0;
            margin: 0 .5rem 0 0;
            color: #fff;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            text-align: center;
            line-height: 48px;
            background: $accent;
            font-size: 20px;
            &:hover {
                background: $dark;
            }
            &.disabled {
                background: $accent;
                opacity: 0.5 !important;
            }
        }
        .owl-next {
            padding: 0;
            margin: 0;
            color: #fff;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            text-align: center;
            line-height: 48px;
            background: $accent;
            font-size: 20px;
            &:hover {
                background: $dark;
            }
            &.disabled {
                background: $accent;
                opacity: 0.5 !important;
            }
        }
    }
}

// Post grid
.blog {
    overflow-x: hidden;
    &-list {
        [class^='col-'] {
            margin-bottom: 2rem;
            @media (max-width: 767.98px) {
                margin-bottom: 1rem;
            }
        }
    }
    &__heading-wrapper {
        @include rfs(3.5rem, margin-bottom);
        h2 {
            margin-bottom: 0;
        }
        .btn {
            @media (max-width: 767.98px) {
                padding-left: 0;
            }
        }
    }
}

// Blog page - Categories
.blog-categories {
    @include rfs(3.5rem, margin-bottom);
}

// Blog page - Tags
.blog-tags {
    @media (max-width: 991.98px) {
        @include rfs(3.5rem, margin-bottom);
    }
}

// Blog page - Similar posts
.blog-similar {
    .blog-list [class^='col-']:last-child {
        @include rfs(3.5rem, margin-bottom);
    }
}

// Blog page - Popular posts
.blog-popular {
    .blog-list [class^='col-']:last-child {
        margin-bottom: 0;
    }
}

// Blog page - Search form
.blog-search {
    @include rfs(3.5rem, margin-bottom);
    button {
        outline: none;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        padding: .375rem .75rem;
        font-size: 1rem;
        height: calc(1.6em + 0.75rem + 2px);
    }
}

// Post card
.post {
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    &__meta {
        @include font-size(1rem);
        opacity: 54%;
        line-height: 1;
        margin-bottom: 4px;
    }
    &__title {
        margin-bottom: 0.75rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    &__excerpt {
        margin-bottom: 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    &__link {
        position: absolute;
        bottom: 0;
    }
}

// Tag list
.tag-list {
    font-size: 0;
    .list-inline-item {
        font-size: 1rem;
        margin-right: 4px;
        margin-bottom: 4px;
    }
}

// Post page
.single-post {
    &-meta {
        &__profile-image {
            width: 48px;
            height: 48px;
        }
        &__author {
            @include font-size(1rem);
            font-weight: 300;
        }
        &__date {
            @include font-size(1rem);
            color: rgba($dark, 0.54);
        }
    }
    &-share {
        &__title {
            @include font-size(1rem);
            font-weight: 300;
        }
        &__link {
            color: rgba($dark, 0.54);
            &:hover, &:focus {
                color: rgba($dark, 0.87);
            }       
        }
    }
    &-carousel {
        position: relative;
        .item {
            img {
                border-radius: 4px;
            }
        }
        .owl-nav {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            width: 100%;
            justify-content: space-between;
            .owl-prev {
                text-align: center;
                background: transparent !important;
                border-radius: 50%;
                color: rgba(white, 0.54);
                width: 48px;
                height: 48px;
                font-size: 20px;
                line-height: 48px;
                padding: 0;
                &:hover {
                    color: rgba(white, 1);
                }
            }
            .owl-next {
                text-align: center;
                background: transparent !important;
                border-radius: 50%;
                color: rgba(white, 0.54);
                width: 48px;
                height: 48px;
                font-size: 20px;
                line-height: 48px;
                padding: 0;
                &:hover {
                    color: rgba(white, 1);
                }
            }
        }
    }
    &__return-btn {
        margin-top: 3rem;
        display: inline-block;
    }
}

.aside {
    .blog-tags {
        @include rfs(3.5rem, margin-bottom);
    }
}


// CONTACT
// =============================================================================

.contact {
    .container {
        max-width: 730px;
    }
    &__lead {
        @include rfs(3.5rem, margin-bottom);
    }
    &__preheading {
        left: 0;
    }
}

.contact-form {
    .form-control {
        background-color: transparent;
        border-color: rgba($dark, 0.54);
        @include font-size(1.25rem);
    }
    .custom-control-label {
        &::before {
            background-color: transparent;
            border: rgba($dark, 0.54) solid 1px;
            box-shadow: none;
            @include rfs(1.25rem, 'width');
            @include rfs(1.25rem, 'height');
        }
        &::after {
            display: none;
        }
    }
    .custom-control-input:checked~.custom-control-label::before {
        border-color: $dark;
        background-color: $dark;
        box-shadow: none;
    }
    button {
        @media (max-width: 575.98px) {
            display: block;
            width: 100%;
        }
    }
    &__heading {
        @include rfs(2rem, margin-bottom);
    }
    &__personal, &__service, &__brief {
        @include rfs(2.75rem, margin-bottom);
    }
}


// FOOTER (Use pixels instead of relative units)
// =============================================================================

.footer {
    @include rfs(7.5rem 0, padding);
    color: rgba($white, 0.87);
    a {
        color: rgba($white, 0.87);
        font-weight: 300;
    }
    p {
        margin-bottom: 12px;
        font-size: 16px;
    }
    ul li {
        margin-bottom: 12px;
        font-size: 16px;
    }
    .form-group {
        margin-bottom: 12px;
        .form-control {
            background-color: transparent;
            border-color: rgba($white, 0.54);
            color: rgba($white, 0.87);
            font-size: 16px;
            padding: 8px 12px;
            line-height: 1.6;
            height: auto;
        }
    }
    .btn {
        font-size: 16px;
        padding: 8px 12px;
        line-height: 1.6;
    }
    &__social {
        a {
            display: inline-block;
            text-align: center;
            width: 48px;
            height: 48px;
            border: 1px solid rgba($white, 0.87);
            border-radius: 4px;
            i {
                line-height: 48px;
                font-size: 20px;
            }
        }
    }
    &__brand {
        margin-bottom: 20px;
    }
    &__heading {
        color: #fff;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 400;
    }
}


// KEYFRAMES
// =============================================================================

@keyframes motion {
    0% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
    }
    25% {
        -webkit-transform: translateX(-50px) scale(0.3);
        transform: translateX(-50px) scale(0.3);
    }
    50% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
    }
    75% {
        -webkit-transform: translateX(50px) scale(0.3);
        transform: translateX(50px) scale(0.3);
    }
    100% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}