.clients {
    @include rfs(8rem, padding-top);
    @include rfs(16rem, padding-bottom);
    &-slideshow {
        img {
            filter: grayscale(100%);
            opacity: 0.5;
            transition: filter .15s ease-in-out, opacity .15s ease-in-out;
            &:hover {
                filter: grayscale(0);
                opacity: 1;
            }
        }
    }
}