// CTA
// =============================================================================

.cta {
    background-color: $primary;
    text-align: center;
    color: $on-primary;
    &__heading {
        @include rfs(2.75rem, margin-bottom);
    }
    @media (max-width: 575.98px) {
        &__btn {
            margin-bottom: 1rem;
            display: block;
            width: 100%;
        }
    }
}