
// Global
// =============================================================================

body {
    background-color: $background;
    color: $on-background;
    overflow-x: hidden;
    @include font-size(1.25rem);
    &.fancybox-active {
        overflow: hidden;
    }
}

h1 {
    font-weight: 900;
    line-height: 1.1428;
    @include font-size(4.25rem);
}

h2 {
    font-weight: 700;
    line-height: 1.1538;
    @include font-size(3.25rem);
}

h3 {
    font-weight: 500;
    line-height: 1.125;
    @include font-size(2rem);
}

p {
    margin-bottom: 1rem;
}

// Multi-Line truncation 
.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.hr {
    &_on-background {
        border-top-color: rgba($on-background, 0.30) !important;
    }
    &_on-secondary {
        border-top-color: rgba($on-secondary, 0.30) !important;
    }
    &_on-accent {
        border-top-color: rgba($on-accent, 0.30) !important;
    }
    &_on-primary-dark {
        border-top-color: rgba($on-primary-dark, 0.30) !important;
    }
}

.border {
    &_on-background {
        border: 1px solid rgba($on-background, 0.30);
    }
}

.pagination {
    .page-item {
        .page-link {
            border-color: rgba($on-background, 0.30);
            color: $on-background;
        }
    }
    &_mt {
        margin-top: 2rem;
        @media (max-width: 767.98px) {
            margin-top: 1rem;
        }
    }
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.btn {
    text-transform: uppercase;
    box-shadow: none !important;
    @include font-size(1.25rem);
}

.ratio-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    &_16-by-9 {
        padding-top: 56.25%;
    }
}

.section {
    @include rfs(7.5rem 0, padding);
    &__preheading {
        @include font-size(1.25rem);
        font-family: $font-family-base;
        font-weight: 300;
        color: $primary;
        position: relative;
        display: inline-block;
        left: 24px;
        &::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 1px;
            background-color: $primary;
            position: absolute;
            top: 50%;
            left: -24px;
        }
    }
    &__heading {
        @include rfs(3.5rem, margin-bottom);
        &_mb-small {
            @include rfs(2rem, margin-bottom);
        }
    }
    &_dark {
        background-color: darken($background, 5%);
    }
    &_large-gap {
        @include rfs(8.75rem 0, padding);
    }
    &_narrow {
        max-width: 800px;
        margin: 0 auto;
    }
}

// Highlight color
::selection {
    background-color: $accent;
    color: $on-accent;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.breadcrumb-item {
    @include font-size(1rem);
    a { 
        text-decoration: none;
        font-weight: 400;
        color: $accent;
        &:hover {
            text-decoration: underline;
        }
    }
    &.active {
        color: $on-primary-dark;
    }
    &+ .breadcrumb-item {
        padding-left: 0.25rem;
        &::before {
            color: $on-primary-dark;
            padding-right: 0.25rem;
        }
    }
}

.back-to-overview {
    margin-top: 2rem;
    @media (max-width: 767.98px) {
        margin-top: 1rem;
    }
}

.cover {
    @include rfs(7.5rem 0, padding);
    &__title {
        @include rfs(0.75rem, margin-bottom);
    }
    &__subtitle {
        font-family: $font-family-base;
        font-weight: 300;
        line-height: 1.125;
        @include font-size(2rem);
    }
    &__divider {
        @include rfs(1.75rem, margin-top);
        @include rfs(1.75rem, margin-bottom);
    }
    &_primary-page {
        background-color: $primary-dark;
        .cover__title, .cover__subtitle, .cover__text {
            color: $on-primary-dark;
        }
    }
    &_status-page {
        background-color: $accent;
        .cover__title, .cover__subtitle, .cover__text {
            color: $on-accent;
        }
    }
    &_utility-page {
        background-color: $secondary;
        .cover__title, .cover__subtitle, .cover__text {
            color: $on-secondary;
            text-align: center;
        }
    }
}

.badge {
    font-size: 100%;
    font-weight: 400;
}

.to-top {
    z-index: 1001;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 48px;
    height: 48px;
    color: color-yiq($background);
}

.full-screen-overlay {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2001;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
}

.aos-mobile-delay-zero {
    transition-delay: 0s !important;
}