// Hero
// =============================================================================

.hero-item {
    position: relative;
    z-index: 1002;
    color: $on-primary;
    padding-top: 18vh;
    padding-bottom: 18vh;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    &__img {
        position: absolute;
        left: 58%;
        top: 50%;
        transform: translateY(-50%);
        width: 600px;
        img {
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
        }
        @media (max-width: 991.98px) {
            margin-top: 32px;
            width: 100%;
            position: relative;
            left: 15%;
            top: 0;
            transform: translateY(0);
        }
    }
    &__btn {
        @media (max-width: 991.98px) {
            width: 100%;
        }
    }
    @media (max-width: 991.98px) {
        text-align: center;
        padding-top: 8vh;
        padding-bottom: 8vh;
    }

}

.hero-carousel {
    .owl-item {
        background: url("../images/abstract-shape-2.svg"), $primary;
        background-position: top center;
        background-size: cover;
        @media (max-width: 991.98px) {
            background-position: 65% 50%;
        }
    }
    .owl-dots {
        line-height: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0 !important;
        .owl-dot {
            transition: background-color .15s ease-in-out;
            span {
                display: inline-block;
                border-radius: 50%;
                margin: 4px;
                width: 16px;
                height: 16px;
                background: transparent;
                border: 1px solid $accent;
            }
            &.active, &:hover {
                span {
                    background-color: $accent;
                }
            }
        }
        @media (max-width: 991.98px) {
            flex-direction: row;
            top: calc(100% - 4vh);
            right: 50%;
            transform: translate(50%, -50%);
        }
    }
}
