// Themes
$theme-1: (
    "primary": #008aff,
    "on-primary": rgba(255,255,255,0.87),
    "primary-dark": #004580,
    "on-primary-dark": rgba(255,255,255,0.87),
    "primary-light": #eff8ff,
    "accent": #ffb30f,
    "on-accent": rgba(0,0,0,0.87)
);

$theme-2: (
    "primary":#5d21d2,
    "on-primary": rgba(255,255,255,0.87),
    "primary-dark": #2e1169,
    "on-primary-dark": rgba(255,255,255,0.87),
    "primary-light": #f0eafb,
    "accent": #a0ebe5,
    "on-accent": rgba(0,0,0,0.87)
);

// Theme selection
$theme: $theme-2;

// Corner radius
$corner-radius: 1rem 0;
$corner-radius-sm: 0.5rem 0;
$corner-radius-lg: 2rem 0;

// Breadcrumb separator
$breadcrumb-divider: quote(">");
$breadcrumb-font-size: 14px;

// Typography
$font-family-base: 'Open Sans', sans-serif;
$headings-font-family: 'Source Serif Pro', serif;
$line-height-base: 1.6;
$font-weight-base: 400;

// RFS
$rfs-base-value: 1rem;
// $rfs-factor: 50; // Factor of decrease